$spacing: 1rem;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', serif;
  margin: 0 auto;
  max-width: 550px;
  padding: $spacing;
  padding-top: 2rem;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;

  span {
    color: red;
  }
}

form {
  border: none;
  display: flex;
  flex-direction: column;
  grid-gap: 0.666rem;
  margin-bottom: 2rem;

  input,
  fieldset,
  textarea,
  button {
    border: 3px solid grey;
  }

  .row {
    display: flex;
    gap: 0.5rem;
  }

  #first-row {
    height: 2.5rem;

    div#outer-input,
    div#outer-quantity {
      display: flex;

      label {
        order: 1;
        padding-right: 1rem;
      }

      input {
        order: 2;
        width: 100%;
      }
    }

    div#outer-input {
      width: 80%;

      input {
        padding-left: 0.5rem;
      }
    }

    div#outer-quantity {
      width: 20%;

      input {
        text-align: center;
      }
    }
  }

  #second-row {
    flex-wrap: wrap;

    fieldset {
      display: flex;
      flex-grow: 1;
      gap: 1rem;
      padding: 0.666rem;

      legend {
        padding: 0 0.5rem;
      }

      div.option {
        align-items: center;
        display: flex;
        flex: 1 1 0;
        gap: 0.25rem;
      }
    }
  }

  div#outer-textarea {
    border: 3px solid gray;
    position: relative;

    textarea {
      border: none; // border is in the outer instead
      padding: 0.5rem;
      resize: vertical;
      width: 100%;
    }

    div#outer-loading-icon {
      align-items: center;
      background-color: lightgray;
      cursor: wait;
      display: flex;
      display: none;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      #loading-icon {
        color: #323232;
        font-size: 1.666rem;
      }
    }
  }

  div#outer-buttons {
    display: flex;
    gap: 1rem;
    justify-content: end;

    button#generate-button {
      order: 2;
    }

    button#copy-button {
      display: none;
      order: 1;
    }

    button {
      align-self: end;
      background-color: transparent;
      color: red;
      cursor: pointer;
      flex-basis: 140px;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.25rem 0.5rem;
      text-transform: uppercase;

      #copy-icon,
      #generate-icon {
        color: red;
        font-size: 1.2rem;
        margin-left: 0.5rem;
      }

      &:hover {
        background-color: #e6e6e6;
        border-color: red;
      }

      &:disabled {
        border-color: gray;
        color: gray;
        cursor: wait;

        #copy-icon,
        #generate-icon {
          color: gray;
        }
      }
    }
  }
}
